/*///tells the browser to read the css file as UTF-8. 
This is handy if you CSS contains unicode characters and not only ASCII.*/
@charset "UTF-8";


@import "../css/spriteSheet";
/*//// method for importing .css file into .scss files  ////*/


/*VARS*/
$black: #000;
$white: #fff;
$green: #008000;
$blueGreen: #01a3ba;
$darkGrey: #232323;
$grey: #CCC;
$red: #f00;

body {
	font-family: Tahoma, Geneva, sans-serif;
	height: 100%;
	/*for top padding normally 70px */
	padding-top: 51px !important;
	//
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
};

div {
	outline: 1px dashed $red;
};

.red {
  background: grey;
  outline: 1px dashed $red;
}

.no-radius {
  border-radius: 0 !important;
}

.size {
	
	&-300x250{
		height: 248px;
		width: 298px;
	}

	&-336x280{
		height: 278px;
		width: 334px;
	}

	&-160x600 {
		height: 598px;
		width: 158px;
	}

	&-728x90 {
		height: 88px;
		width: 726px;
	}

	&-300x600 {
		height: 598px;
		width: 298px;
	}
	
}

.zIndex {
	z-index: 1;
}

.navbar-inverse {
	background-color: $darkGrey;
}

.padding-bottom{
	margin: 0 0 20px 0;
}

.img-height img{
	margin: 0 auto;
	max-height: 400px;
	position: relative;
	width: auto;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* FOOTER ICONS */
.facebook32{
	cursor: pointer;
	@extend .icon-facebook32;
}
.soundcloud32{
	cursor: pointer;
	@extend .icon-soundcloud32;
}
.twitter32{
	cursor: pointer;
	@extend .icon-twitter32;
}
.youtube32{
	cursor: pointer;
	@extend .icon-youtube32;
}


/*FOOTER*/
.footerControl {
	height: 40px;
}

.footer-icon-container {
  background-color: #fff;
  display: inline-block;
  height: 32px;
  margin: 20px auto 20px auto;
  position: relative;
  width: 100%;
}

.footer-icon-container ul {
  margin: 0;
  padding: 0;
}

.footer-icon-container li {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  list-style: none;
  padding: 0 20px 0 0;
}

.footer-icon-container-inside {
  height: 32px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

/* IMAGES */
.images {
	position: absolute;
}

/*.img1 {
	@extend .images, .icon-img1;
	left: -165px;
};*/


/* MODAL WINDOW */
.modal-header {
	background: $blueGreen;
}

.modal-title {
	color: $white;
}

.modal .btn-default {
	background: $blueGreen;
	color: $white;
}

/*NO HASH*/
.no-hash-link {
	color: #9d9d9d;
	cursor: pointer;
	display: block;
	position: relative;
    padding: 10px 15px;
    line-height: 20px;
}

.no-hash-link:hover{
	color: $white;
}
